<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <a class="skip-link" href="#main-content">Skip to main content</a>
  <header>
    {{ partial "header.html" . -}}
  </header>
  {{- partial "menu.html" (dict "menuID" "main" "page" .) }}
  <main id="main-content" tabindex="-1">
    {{- block "main" . }}{{- end }}
  </main>
  <footer>
    {{ partial "footer.html" . -}}
  </footer>
</body>
</html>
