{{- define "main" }}
  <section id="home" class="container">
    {{- partial "section.html" (.Site.GetPage "/about") }}
  </section>
  <section id="portfolio" class="container">
    {{ range where site.RegularPages "Section" "portfolio" }}
      <div class="post">
        <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
        <div class="post-img">
          {{- partial "thumb.html" (dict "page" .) }}
        </div>
        <div class="post-text">
          {{ .Summary }}
          <span class="section-mark">({{ .Section }})</span>
        </div>
      </div>
    {{- end }}
  </section>

{{- end }}
