{{- define "main" }}
  {{ .Content }}
  <section id="{{ .Title }}" class="container">
    <h2>{{ .Title }}</h2>
    {{- range .Pages }}
      <div class="post">
        <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
        <div class="post-img">
          {{- partial "thumb.html" (dict "page" .) }}
        </div>
        <div class="post-text">
          <i>{{- partial "date.html" . }}</i>
          <br>
          {{ .Summary }}
        </div>
      </div>
    {{- end }}
  </section>
{{- end }}
