* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Latin Modern";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src:
        url("/fonts/LM-regular.woff2") format("woff2"),
        url("/fonts/LM-regular.woff") format("woff"),
        url("/fonts/LM-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Latin Modern";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src:
        url("/fonts/LM-italic.woff2") format("woff2"),
        url("/fonts/LM-italic.woff") format("woff"),
        url("/fonts/LM-italic.ttf") format("truetype");
}

@font-face {
    font-family: "Latin Modern";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src:
        url("/fonts/LM-bold.woff2") format("woff2"),
        url("/fonts/LM-bold.woff") format("woff"),
        url("/fonts/LM-bold.ttf") format("truetype");
}

@font-face {
    font-family: "Latin Modern";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src:
        url("/fonts/LM-bold-italic.woff2") format("woff2"),
        url("/fonts/LM-bold-italic.woff") format("woff"),
        url("/fonts/LM-bold-italic.ttf") format("truetype");
}

html {
    font-size: 12pt;
}

body {
    font-family: "Latin Modern", sans-serif;
    background-color: #e9ecef;
    color: #343a40;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
}

header,
nav,
footer {
    background-color: black;
    color: #f8f9fa;
    text-align: center;
}

header {
    position: relative;
    height: 5rem;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

nav {
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000;
    padding: 0.5rem 0;
}

nav a {
    color: #f8f9fa;
    margin: 0 1.25rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #007bff;
}

section {
    padding: 1.875rem 1.25rem;
}

.container {
    max-width: 100ch;
    margin: auto;
    background: #ffffff;
    padding: 1.25rem;
    border-radius: 8px;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
    margin-bottom: 0.625rem;
    margin-top: 1.25rem;
}

h2 {
    font-size: 2rem;
    color: black;
    margin-bottom: 1.25rem;
}

p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

ul {
    margin-left: 2em;
}

.post {
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 0 1.25rem;
    align-items: flex-start;
    border: 1px solid #ced4da;
    padding: 1.25rem;
    transition: box-shadow 0.3s ease;
    grid-template-areas:
        "image heading"
        "image text";
    border-radius: 8px;
    margin-bottom: 1.25rem;
}

.post:hover {
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
}

.post-img {
    grid-area: image;
}

.post-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.post h3 {
    grid-area: heading;
}

.post-text {
    grid-area: text;
}

.post-text h3 a {
    text-decoration: none;
    color: #343a40;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.post-text h3 a:hover {
    color: #007bff;
}

.article {
    position: relative;
    gap: 1.25rem;
    align-items: flex-start;
    border: 1px solid #ced4da;
    padding: 2rem;
    transition: box-shadow 0.3s ease;
    grid-template-areas:
        "image heading"
        "image text";
    border-radius: 8px;
    margin-bottom: 1.25rem;
}

.article-img {
    float: left;
    width: 25rem;
}

.article-img img {
    width: 100%;
    padding: 0.625rem 1.25rem 0.625rem 0;
}

.article p {
    clear: both;
}

.article:hover {
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
}

.section-mark {
    position: absolute;
    bottom: 0.625rem;
    right: 1.25rem;
}

@media (max-width: 768px) {
    .post {
        grid-template-columns: 1fr;
        grid-template-areas:
            "heading"
            "image"
            "text";
        text-align: center;
    }

    .post-img {
        margin-bottom: 1.25rem;
    }

    .post-text {
        text-align: left;
    }
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

footer {
    padding: 0.5rem 0;
}

footer p {
    font-size: 0.9rem;
    margin-top: 1rem;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #e0e0e0;
    }

    header,
    nav,
    footer {
        background-color: #1f1f1f;
        color: #e0e0e0;
    }

    nav a {
        color: #e0e0e0;
    }

    nav a:hover {
        color: #f9ff99;
    }

    .container {
        background: #111;
        border-radius: 8px;
    }

    h2 {
        color: #e0e0e0;
    }

    .post {
        border: 1px solid #444;
        background-color: #222;
    }

    .post:hover {
        box-shadow: 0 0.3125rem 0.625rem rgba(128, 128, 128, 0.3);
    }

    .post-text h3 a {
        color: #e0e0e0;
    }

    .post-text h3 a:hover {
        color: #f9ff99;
    }

    .article {
        border: 1px solid #444;
        background-color: #222;
    }

    .article:hover {
        box-shadow: 0 0.3125rem 0.625rem rgba(128, 128, 128, 0.3);
    }

    a {
        color: #ffffff;
    }

    a:hover {
        color: #f9ff99;
        text-decoration: underline;
    }

    ul {
        color: #ccc;
    }
}