{{- if .IsHome -}}
{{- /* WebSite schema for homepage */ -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{ site.Title }}",
  "url": "{{ site.BaseURL }}",
  "description": "{{ site.Params.description }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.Params.author }}"
  }
}
</script>
{{- end -}}

{{- if and .IsPage (eq .Type "writing") -}}
{{- /* Article schema for blog posts */ -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}",
  "author": {
    "@type": "Person",
    "name": "{{ with .Params.author }}{{ . }}{{ else }}{{ site.Params.author }}{{ end }}"
  },
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
  "url": "{{ .Permalink }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
  {{- with .Params.image -}}
  ,
  "image": "{{ . | absURL }}"
  {{- end -}}
}
</script>
{{- end -}}

{{- if eq .Title "About" -}}
{{- /* Person schema for about page */ -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "{{ site.Params.author }}",
  "url": "{{ site.BaseURL }}",
  "sameAs": [
    "https://github.com/stvhay"
  ],
  "jobTitle": "Engineer and Researcher",
  "description": "{{ site.Params.description }}"
}
</script>
{{- end -}}
