{{- $scrambled := .Get 0 -}}
<span class="email-scrambler-widget" data-scrambled="{{ $scrambled }}" data-swap-delay="40">
  <a href="#" class="scrambled-email-display">{{ $scrambled }}</a>
  <button class="reveal-email-button">Reveal Contact Info</button>
</span>

<noscript>
  <p><em>JavaScript required to view email address. Please enable JavaScript or contact me via <a href="https://www.linkedin.com/in/steve-hay-8763636b">LinkedIn</a>.</em></p>
</noscript>

<script src="/js/email-scrambler.js"></script>
