name: website

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27

      - name: Setup Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v8

      - name: Get GitHub Actions bot details
        id: bot-details
        uses: raven-actions/bot-details@v1

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.WEBSITE_SSH_KEY }}

      - name: Configure Git
        run: |
          git config --global user.email "${{ steps.bot-details.outputs.email }}"
          git config --global user.name "${{ steps.bot-details.outputs.name }}"
          git config --global credential.helper store

      - name: Run build script
        run: nix develop --command ./build

      - name: Run HTML validation tests
        run: nix develop --command htmltest

      - name: Publish website
        run: |
          git -C public commit -m "${{ github.event.head_commit.message }}" || true
          git -C public push || true
