name: website

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: texlive-latex-base texlive-latex-extra \
            texlive-bibtex-extra texlive-fonts-recommended \
            texlive-fonts-extra latexmk biber \
            libimage-exiftool-perl
          version: 1.1

      - name: Get GitHub Actions bot details
        id: bot-details
        uses: raven-actions/bot-details@v1

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.WEBSITE_SSH_KEY }}

      - name: Configure Git
        run: |
          git config --global user.email "${{ steps.bot-details.outputs.email }}"
          git config --global user.name "${{ steps.bot-details.outputs.name }}"
          git config --global credential.helper store

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Install dependencies
        run: |
          npm install --save-dev --save-exact prettier

      - name: Run build script
        run: |
          ./build

      - name: Publish website
        run: |
          git -C public commit -m "${{ github.event.head_commit.message }}" || true
          git -C public push || true
