name: website

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Setup Cachix
        uses: cachix/cachix-action@v16
        with:
          name: stvhay-github-io
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.WEBSITE_SSH_KEY }}

      - name: Build and test
        run: |
          nix develop --command bash -c '
            ./build
            htmltest
            pytest
          '

      - name: Publish website
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git -C public commit -m "${{ github.event.head_commit.message }}" || true
          git -C public push || true
